*
!.gitignore
!.bashrc
!.vimrc
!.git-completion.sh
!.config/sublime-text-3/Packages/User/Preferences.sublime-settings
!.config/sublime-text-3/Packages/JSHint Gutter/JSHint.sublime-settings
!.config/sublime-text-3/Packages/JSHint Gutter/.jshintrc

